@model List<FoodySite.DataAccess.Models.Product>

<div class="row g-0 gx-5 align-items-end">
    <div class="col-lg-6">
        <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Ürünlerimiz</h1>
            <p>Ürünlerimiz, doğrudan üreticilerden temin edilerek, özenle paketlenerek sizlere ulaştırılacaktır.</p>
        </div>
    </div>
    <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
        <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
            @{
                HashSet<string> writtenCategories = new HashSet<string>();
            }
            @foreach (var item in Model)
            {
                if (!writtenCategories.Contains(item.Category.CategoryName))
                {
                    writtenCategories.Add(item.Category.CategoryName);
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="/Default/CategoryDetails/@item.CategoryId" onclick="window.location.href='/Default/CategoryDetails/@item.CategoryId'; return false;">@item.Category.CategoryName</a>
                    </li>
                }

            }
            <li></li>

            <li class="nav-item me-2">
                @* @using (Html.BeginForm("Index", "Default", FormMethod.Get))
                {
                <p>
                @Html.TextBox("searchString")
                <input type="submit" value="Ara" />
                </p>
                } *@
                <form method="get" class="mb-4">
                    <div class="input-group">
                        <input type="text" id="searchQuery" name="filter" class="form-control" placeholder="Ürün arayın...">
                        <button type="submit" class="btn btn-primary">Ara</button>
                    </div>
                </form>
            </li>

        </ul>
    </div>
</div>
