
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Partial("PartialHead")

<body>

    @Html.Partial("PartialNavbar")

    @Html.Partial("PartialPageHeader")


    @await Component.InvokeAsync("ProductDetailsComponentPartial", new { id = ViewBag.y })

    @await Component.InvokeAsync("FooterComponentPartial")

    @await Component.InvokeAsync("ScriptComponentPartial")

</body>

</html>